GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:8080
SESSION_SECRET=
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=
DB_NAME=utulna
DB_PORT=5432
